services:
  redis:
    image: redis:latest
    container_name: container_redis
    ports:
      - "6379:6379"
    environment:
      - CONTAINER_PORT=6379
      - HOST_PORT=6379
      - MAX_JOBS=1
    restart: unless-stopped
  
  backend:
    build:
      context: ./backend
    ports:
      - "7861:7861"
    container_name: container_backend
    environment:
      - CONTAINER_PORT=7861
      - HOST_PORT=7861
      - MAX_JOBS=1
    volumes:      
      - ./backend:/usr/src/app
      - ./backend/logs:/var/log
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/cloud/.cache/huggingface:/root/.cache/huggingface
      - ./models/:/models/
    depends_on:
      - redis
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "7860:7860"
    container_name: container_frontend
    depends_on:
      - backend
    environment:
      - GRADIO_SERVER_NAME=0.0.0.0
      - CONTAINER_PORT=7860
      - HOST_PORT=7860
      - MAX_JOBS=1
    volumes:
      - ./frontend:/usr/src/app
      - ./frontend/logs:/var/log
      - /home/cloud/.cache/huggingface:/root/.cache/huggingface
      - ./models/:/models/
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    restart: unless-stopped

  vllm:
    build:
      context: ./vllm
      args:
        - CUDA_VERSION=12.4.1
        - PYTHON_VERSION=3.12
    image: vllm/vllm-openai:latest
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "1370:1370"
    container_name: container_vllm
    volumes:
      - ./vllm/logs:/var/log
      - /home/cloud/.cache/huggingface:/root/.cache/huggingface
      - ./models/:/models/
    environment:
      - MAX_JOBS=1
      - NCCL_DEBUG=INFO
      - CUDA_LAUNCH_BLOCKING=1
    command: [
      "--model", "Qwen/Qwen2.5-1.5B-Instruct",
      "--port", "1370",
      "--gpu_memory_utilization", "0.80",
    ]
    restart: unless-stopped